<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" placeholder="név" name="nev" value="<%-nev%>">
        <input type="text" placeholder="számlaszám" name="szam" value="<%-szam%>">
        <input type="checkbox" name="elfogad" value="elfogad">
        <button type="submit">gomb</button>
    </form>
    <p>
        <% if (messages && messages.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <h2>Hibák!</h2>
              <ul>
                <% messages.forEach(function(msg) { %>
                  <li><%= msg %></li>
                <% }); %>
              </ul>
            </div>
          <% } %>
          
      </p>
</body>
</html>